//Brekapoints  Functions

@mixin breakPoint1024Px($marginBreakPoint, $fontsizeBreakPoint, $marginBottom) {
  @media only screen and (min-width: 900px) and (max-width: 1030px) {
    margin: $marginBreakPoint;
    * {
      font-size: 24px;
    }
    h1.banner-title-name {
      font-size: 6rem;
    }

    h1 {
      font-size: 4rem;
      margin-bottom: $marginBottom;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax1024Px;
      line-height: $lineHeighttextMax1024Px;
      letter-spacing: $letterSpacingMax1024Px;
      margin-bottom: $marginBottomTextMax1024Px;
      word-spacing: $wordSpacingMax1024Px;
    }
    .experience-title {
      margin-top: -180px;
    }
    .contact-title {
      margin-top: -200px;
    }
  

    video {
      margin-top: 2rem;
      margin: 30px 0 10px 80px;
      width: 800px;
    }
  }
}
@mixin breakPoint770Px($marginBreakPoint, $fontsizeBreakPoint, $marginBottom) {
  @media only screen and (min-width: 750px) and (max-width: 840px) {
    margin: $marginBreakPoint;
    * {
      font-size: 16px;
    }
    .sidenav li a {
      font-size: 16px;
    }

    h1 {
      font-size: 4rem;
      margin-bottom: $marginBottom;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax770Px;
      line-height: $lineHeighttextMax770Px;
      letter-spacing: $letterSpacingMax770Px;
      word-spacing: $wordSpacingMax770Px;
      margin-bottom: $marginBottomTextMax770Px;
    }
    .experience-title {
      margin-top: -20px;
    }
    .contact-title {
      margin-top: -80px;
    }
    .who-i-am-title {
      margin-top: -8rem;
    }

    .portfolio-title {
      margin-top: 80px;
      margin-bottom: 20px;
    }
    .experience-second-title {
      margin-top: 50px;
      margin-bottom: 20px;
    }

    h5 {
      margin-top: 0;
    }

    .button-fixed .portfolio-button {
      margin-bottom: 60px;
      margin-bottom: 0;
    }
    div.control-experiences .left-experiences {
      left: 10px;
    }
    div.control-experiences .right-experiences {
      right: 10px;
    }
    video {
      margin: 20px 0 10px 120px;
      width: 400px;
    }
  }
}

@mixin breakPoint694Px() {
  @media screen and (min-width: 694px) and (max-width: 700px) {
    video {
      align-self: flex-end;
      margin-top: 2rem;
      width: 400px;
    }
  }
}

@mixin breakPoint480Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (width: 480px) {
    margin: $marginBreakPoint;
    * {
      font-size: 14px;
    }
    h1 {
      font-size: 3rem;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax480Px;
      line-height: $lineHeighttextMax480Px;
      letter-spacing: $letterSpacingMax480Px;
      word-spacing: $wordSpacingMax480Px;
      margin-bottom: $marginBottomTextMax480Px;
    }

    video {
      margin-top: 2rem;
      width: 400px;
    }
  }
}

@mixin breakPoint470Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (min-width: 450px) and (max-width: 470px) {
    margin: $marginBreakPoint;

    * {
      font-size: 14px;
    }
    h1 {
      font-size: 3rem;
      color: $titleFontColour;
    }

    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax420Px;
      line-height: $lineHeighttextMax420Px;
      letter-spacing: $letterSpacingMax420Px;
      word-spacing: $wordSpacingMax420Px;
      margin-bottom: $marginBottomTextMax420Px;
    }

    video {
      margin-top: 3rem;
      width: 350px;
    }
  }
}

@mixin breakPoint420Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (min-width: 380px) and (max-width: 420px) {
    margin: $marginBreakPoint;
    * {
      font-size: 14px;
    }
    h1 {
      font-size: 3rem;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax420Px;
      line-height: $lineHeighttextMax420Px;
      letter-spacing: $letterSpacingMax420Px;
      word-spacing: $wordSpacingMax420Px;
      margin-bottom: $marginBottomTextMax420Px;
    }

    .experience-title {
      margin-top: -80px;
    }
    .contact-title {
      margin-top: -140px;
    }
    .who-i-am-title {
      margin-top: -5rem;
    }
    .control ul {
      margin: 0 0 10px 0;
    }

    .experience-second-title {
      margin-top: -50px;
    }
    video {
      margin-top: 3rem;
      width: 350px;
    }
  }
}

@mixin breakPoint375Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (min-width: 372px) and (max-width: 400px) {
    margin: $marginBreakPoint;
    * {
      font-size: 14px;
    }
    h1 {
      font-size: 2.5rem;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax375Px;
      line-height: $lineHeighttextMax375Px;
      letter-spacing: $letterSpacingMax375Px;
      word-spacing: $wordSpacingMax375Px;
      margin-bottom: $marginBottomTittleMax375Px;
    }
    .portfolio-content p.swipe {
      font-weight: bolder;
      color: #333;
    }
    .experience-title {
      margin-top: -60px;
    }

    .experience-second-title {
      margin-top: 10px;
    }

    h5 {
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .contact-title {
      margin-top: -60px;
    }
    .who-i-am-title {
      margin-top: 1rem;
    }
    .experience-second-title {
      margin-top: -0px;
    }
   
    video {
      margin-top: 3rem;
      width: 300px;
    }
  }
}

@mixin breakPoint375AndHeight812Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (height: 812px) and (width: 375px) {
    margin: $marginBreakPoint;
    * {
      font-size: 14px;
    }
    h1 {
      font-size: 2.5rem;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax375AndHeight812Px;
      line-height: $lineHeighttextMax375AndHeight812Px;
      letter-spacing: $letterSpacingMax375AndHeight812Px;
      word-spacing: $wordSpacingMax375AndHeight812Px;
      margin-bottom: $marginBottomTittleMax375AndHeight812Px;
    }
    .portfolio-content p.swipe {
      font-weight: bolder;
      color: #333;
    }
    .experience-title {
      margin-top: -180px;
    }

    h5 {
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .contact-title {
      margin-top: -60px;
    }
    .who-i-am-title {
      margin-top: 1rem;
    }
    .experience-second-title {
      margin-top: -120px;
    }
   
    video {
      margin-top: 3rem;
      width: 300px;
    }
  }
}

@mixin breakPoint360Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (min-width: 350px) and (max-width: 365px) {
    margin: $marginBreakPoint;
    * {
      font-size: 12px;
    }

    h1 {
      font-size: 2rem;
      color: $titleFontColour;
    }

    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax360Px;
      line-height: $lineHeighttextMAX360Px;
      letter-spacing: $letterSpacingMax360Px;
      word-spacing: $wordSpacingMax360Px;
      margin-bottom: $marginBottomTextMax360Px;
    }

    .experience-title {
      margin-top: 10px;
    }
    .contact-title {
      margin-top: 10px;
    }
    .who-i-am-title {
      margin-top: 1rem;
    }
    .portfolio-title {
      margin-top: -40px;
    }
    .project-title {
      margin-top: -50px;
      margin-bottom: 30px;
    }

    .control ul {
      margin: 0 0 10px 0;
    }


    video {
      margin-top: 1rem;
      align-self: center;
      // padding-left:3rem;
      width: 320px;
    }
   
  }
}

@mixin breakPoint350Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (min-width: 310px) and (max-width: 350px) {
    margin: $marginBreakPoint;
    * {
      font-size: 12px;
    }
   
    h1 {
      font-size: 2rem;
      color: $titleFontColour;
    }

    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax350Px;
      line-height: $lineHeighttextMAX350Px;
      letter-spacing: $letterSpacingMax350Px;
      word-spacing: $wordSpacingMax350Px;
      margin-bottom: $marginBottomTextMax350Px;
    }
    .experience-title {
      margin-top: 10px;
    }
    .contact-title {
      margin-top: 20px;
    }
    .who-i-am-title {
      align-self: flex-start;
      margin: 10px 0 2rem 0;
    }

    .portfolio-title {
      margin-top: -3rem;
    }

    .control ul {
      margin: 0 0 5px 0;
    }

    .experience-second-title {
      margin: 5px 0 1rem 0;
    }

    h5 {
      font-weight: bolder;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    video {
      margin-top: 1rem;
      align-self: center;
      padding-left: 2rem;
      width: 290px;
    }

   
  }
}
