//Brekapoints  Functions


@mixin breakPoint1370Px($marginBreakPoint, $fontsizeBreakPoint, $marginBottom) {
  @media only screen and (min-width:1320px) and (max-width:1370px) {
    margin: $marginBreakPoint;

    h1 {
      font-size: 4rem;
      margin-bottom:$marginBottom;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size:$fontsizeBreakPoint;    
      // line-height:$lineHeighttext ;
      margin-bottom:$marginBottomTextMax1370Px;
    }
    .experience-title{
      margin-top:-100px;
    }
    .contact-title{
      margin-top:-100px;
    }
    .portfolio-title{
      margin-bottom:3rem;
    }
    video{
      margin-top:0.5rem;
      width:900px;
    }
  }
}



@mixin breakPoint1024Px($marginBreakPoint, $fontsizeBreakPoint, $marginBottom) {
  @media only screen and (min-width: 900px) and (max-width:1030px){
    margin: $marginBreakPoint;

    h1 {
      font-size: 4rem;
      margin-bottom:$marginBottom;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size:$fontsizeBreakPoint;
      
      // line-height:$lineHeighttext ;
      margin-bottom:$marginBottomTextMax1024Px;
    }
    .experience-title{
      margin-top:-500px;
    }
    .contact-title{
      margin-top:-500px;
    }
    video{
      margin-top:5rem;
      width:800px;
    }
  }
}



@mixin breakPoint770Px($marginBreakPoint, $fontsizeBreakPoint, $marginBottom) {
  @media only screen and (min-width: 750px) and (max-width:810px) {
    margin: $marginBreakPoint;

    h1 {
      font-size: 4rem;
      margin-bottom:$marginBottom;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size:$fontsizeBreakPoint;
      
      // line-height:$lineHeighttext ;
      margin-bottom:$marginBottomTextMax770Px;
    }
    .experience-title{
      margin-top:-180px;
    }
    .contact-title{
      margin-top:-180px;
    }
    video{

      margin-top:5rem;
      width:700px;
    }
  }
}


@mixin breakPoint480Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (width:480px){
    margin: $marginBreakPoint;
    h1 {
      font-size: 3rem;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size:$fontsizeBreakPoint;
      // line-height:$lineHeighttext ;
      margin-bottom:$marginBottomTextMax480Px
    }
    video{
      margin-top:2rem;
      width:400px;
    }
  }
}

@mixin breakPoint414Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (min-width: 450px) and (max-width:470px) {
    margin: $marginBreakPoint;
    h1 {
      font-size: 3rem;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size:$fontsizeBreakPoint;
      // line-height:$lineHeighttext ;
      margin-bottom:$marginBottomTextMax420Px
    }
    video{
      margin-top:3rem;
      width:350px;
    }
  }
}


@mixin breakPoint375Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (min-width: 372px) and (max-width:400px){
    margin: $marginBreakPoint;
    h1 {
      font-size: 2.5rem;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size:$fontsizeBreakPoint;
      // line-height:$lineHeighttext ;
      margin-bottom:$marginBottomTextMax375Px
    }
    .experience-title{
      margin-top:-40px;
    }
    .contact-title{
      margin-top:-40px;
    }

    video{
      margin-top:3rem;  
      width:300px;
    }
  }
}


@mixin breakPoint370Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (min-width: 380px) and (max-width:420px){
    margin: $marginBreakPoint;
    h1 {
      font-size: 3rem;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size:$fontsizeBreakPoint;
      // line-height:$lineHeighttext ;
      margin-bottom:$marginBottomTextMax420Px
    }

     .experience-title{
      margin-top:-150px;
    }
    .contact-title{
      margin-top:-150px;
    }
    video{
      margin-top:3rem;  
      width:350px;
    }
  }
}


@mixin breakPoint360Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media  screen and (min-width: 350px) and (max-width:365px) {
    
    margin:$marginBreakPoint;
    font-size:$fontsizeBreakPoint;

    h1 {
      font-size: 2rem;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      // line-height:$lineHeighttext ;
      margin-bottom: $marginBottomTextMax360Px
    }

    ul.indicatores{
      top:590px;
    }

    video{
       margin-top:1rem;
       width:320px;
     
    }
  }
}


@mixin breakPoint350Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media  screen and (min-width: 310px) and (max-width:350px) {
    
    margin:$marginBreakPoint;
    font-size:$fontsizeBreakPoint;

    h1 {
      font-size: 2rem;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size:14px;
      // line-height:$lineHeighttext ;
      margin-bottom: $marginBottomTextMax350Px;
    }

     .experience-title{
      margin-top:-40px;
    }
    .contact-title{
      margin-top:-40px;
    }
    .experience-title{
      margin-top:-40px;
    }
    .contact-title{
      margin-top:-40px;
    }

    ul.indicatores{
      top:590px;
    }

    video{
       margin-top:1rem;
       width:290px;
     
    }
  }
}
















