@import "./variablesStyles";

@mixin breakPointDesktop1900Px(
  $marginBreakPoint,
  $fontsizeBreakPoint,
  $marginBottom
) {
  @media only screen and (min-width: 1800px) and (max-width: 2400px) {
    margin: $marginBreakPoint;
    font-size: 24px;

    section.who-i-am-background .content-banner h1 {
      font-size: 6rem;
    }
    h1 {
      margin-bottom: $marginBottom;
      color: $titleFontColour;
    }

    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax1900Px;
      line-height: $lineHeighttextMax1900Px;
      letter-spacing: $letterSpacingMax1900Px;
      word-spacing: $wordSpacingMax1900Px;
      margin-bottom: $marginBottomTextMax1900Px;
    }
    .portfolio-content .swipe {
      font-weight: bolder;
      color: #333;
    }

    .experience-title {
      margin-top: -320px;
    }
    .contact-title {
      margin-top: -320px;
    }
    .portfolio-title {
      margin-bottom: 3rem;
    }
    .experience-second-title {
      margin-top: -80px;
    }

 section#who-iam ul.control .arrow .left {
      left: 15px;
    }

  section#who-i-am ul.control .arrow .right {
      left: 15px;
    }
    video {
      margin-top: 2rem;
      width: 900px;
      align-self: start;
    }
    .pantree-video {
      position: relative;
      margin-left: 180px;
      align-self: center;
      -webkit-align-self: center;
      transform: translate(20%);
      -webkit-transform: translate(20%);
    }

    .portfolio-content {
      display: flex;
    }
  }
}

@mixin breakPointDesktop1370Px(
  $marginBreakPoint,
  $fontsizeBreakPoint,
  $marginBottom
) {
  @media only screen and (min-width: 1320px) and (max-width: 1370px) {
    margin: $marginBreakPoint;
    font-size: 24px;
    h1 {
      margin-bottom: $marginBottom;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax1370Px;
      line-height: $lineHeighttextMax1370Px;
      letter-spacing: $letterSpacingMax1370Px;
      word-spacing: $wordSpacingMax1370Px;
      margin-bottom: $marginBottomTextMax1370Px;
    }
    .portfolio-content .swipe {
      font-weight: bolder;
      color: #333;
    }
    .experience-title {
      margin-top: -100px;
    }
    .contact-title {
      margin-top: -100px;
    }
    .portfolio-title {
      margin-bottom: 3rem;
    }
  
    .experience-second-title {
      margin-top: 30px;
      margin-bottom: 20px;
    }
 section#who-iam ul.control .arrow .left {
      left: 15px;
    }

  section#who-i-am ul.control .arrow .right {
      left: 15px;
    }
    h5 {
      margin-top: 0;
      margin-bottom: 5px;
    }
    div.slider-experiences div.experiences-content ul {
      margin-left: 50px;
    }
    video {
      align-self: center;
      margin-left: 30px;
      width: 600px;
    }
    .portfolio-content video {
      align-content: center;
    }
    .pantree-video {
      margin-left: 140px;
      transform: translate(10%);
      -webkit-transform: translate(10%);
    }
  }
}

@mixin breakPointDesktop1800Px(
  $marginBreakPoint,
  $fontsizeBreakPoint,
  $marginBottom
) {
  @media only screen and (min-width: 1400px) and (max-width: 1800px) {
    margin: $marginBreakPoint;
    font-size: 24px;

    h1 {
      margin-bottom: $marginBottom;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax1280Px;
      line-height: $lineHeighttextMax1280Px;
      letter-spacing: $letterSpacingMax1280Px;
      word-spacing: $wordSpacingMax1280Px;
      margin-bottom: $marginBottomTextMax1280Px;
    }

    .portfolio-content p.swipe {
      font-weight: bolder;
      color: #333;
    }

    .experience-title {
      margin-top: -50px;
    }
    .contact-title {
      margin-top: -50px;
    }
    .portfolio-title {
      margin-bottom: 2rem;
    }

 section#who-iam ul.control .arrow .left {
      left: 15px;
    }

  section#who-i-am ul.control .arrow .right {
      left: 15px;
    }

    .left-portfolio {
      left: 12px;
    }
    .right-experiences {
      right: 12px;
    }
    .right-portfolio {
      right: 12px;
    }

    .right {
      right: 12px;
    }
    video {
      margin-top: 0rem;
      width: 700px;
    }
  }
}

@mixin breakPointDesktop1280Px(
  $marginBreakPoint,
  $fontsizeBreakPoint,
  $marginBottom
) {
  @media only screen and (min-width: 1200px) and (max-width: 1300px) {
    margin: $marginBreakPoint;
    font-size: 24px;
    h1 {
      // font-size: 6rem;
      margin-bottom: $marginBottom;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size: $fontsizeMobileTextMax1280Px;
      line-height: $lineHeighttextMax1280Px;
      letter-spacing: $letterSpacingMax1280Px;
      word-spacing: $wordSpacingMax1280Px;
      margin-bottom: $marginBottomTextMax1280Px;
    }

    .portfolio-content p.swipe {
      font-weight: bolder;
      color: #333;
    }
    .experience-title {
      margin-top: -100px;
    }
    .contact-title {
      margin-top: -100px;
    }
    .portfolio-title {
      margin-bottom: 3rem;
    }

     section#who-iam ul.control .left {
      left: 15px;
    }

  section#who-i-am ul.control .right {
      left: 15px;
    }

    .left-experiences {
      left: 12px;
    }

    .left-portfolio {
      left: 12px;
    }
    .right-experiences {
      right: 12px;
    }
    .right-portfolio {
      right: 12px;
    }

  

    video {
      margin-top: 0.5rem;
      width: 700px;
    }
  }
}
