@import './variablesStyles';

@mixin breakPoint1900Px($marginBreakPoint, $fontsizeBreakPoint, $marginBottom) {
  @media only screen and (min-width:1800px) and (max-width:2400px) {
    margin: $marginBreakPoint;

    h1 {
      font-size: 4rem;
      margin-bottom:$marginBottom;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size:25px;    
      // line-height:$lineHeighttext ;
      margin-bottom:$marginBottomTextMax1900Px;
    }
    .experience-title{
      margin-top:-350px;
    }
    .contact-title{
      margin-top:-350px;
    }
    .portfolio-title{
      margin-bottom:3rem;
    }
    video{
      margin-top:2rem;
      width:1000px;
    }
  }
}

@mixin breakPoint1280Px($marginBreakPoint, $fontsizeBreakPoint, $marginBottom) {
  @media only screen and (min-width:1400px) and (max-width:1800px){
    margin: $marginBreakPoint;
  
    h1 {
      font-size:3rem;
      margin-bottom:$marginBottom;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size:22px;    
      margin-bottom:$marginBottomTextMax1280Px;
    }
    .experience-title{
      margin-top:-50px;
    }
    .contact-title{
      margin-top:-50px;
    }
    .portfolio-title{
      margin-bottom:2rem;
    }
    video{
      margin-top:0rem;
      width:800px;
    }
  }
}