@import './variablesStyles';
@import './breakPoints';
@import './landscapeBreakPoints';
@import './desktopBreakpoints';

//Flex section functions

@mixin flexCenter($alignContent, $alignItems, $direction) {
  height: 100%;
  display: flex;
  justify-content: $alignContent;
  align-items: $alignItems;
  flex-direction: $direction;
}

//Margin Alignment includes breakPoints
@mixin marginAlignment{
  margin:$divSectionsMargin;
  //Breakpoints Portrait
  @include breakPoint350Px($divSectionMarginMax350px, $fontsizeMobileTextMax350Px);
  @include breakPoint360Px($divSectionMarginMax360px, $fontsizeMobileTextMax360Px);
  @include breakPoint420Px($divSectionMarginMax420px, $fontsizeMobileTextMax420Px);
  @include breakPoint375Px ($divSectionMarginMax375px, $fontsizeMobileTextMax375Px);
  @include breakPoint414Px($divSectionMarginMax420px, $fontsizeMobileTextMax420Px);
  @include breakPoint480Px($divSectionMarginMax480px, $fontsizeMobileTextMax480Px);
  @include breakPoint1024Px($divSectionMarginMax1024px,$fontsizeMobileTextMax1024Px,$marginBottomTittleMax1024Px);
  @include breakPoint770Px( $divSectionMarginMax770px,$fontsizeMobileTextMax770Px, $marginBottomTittleMax770Px);
  @include breakPoint1280Px($divSectionMarginMax1280px,$fontsizeMobileTextMax1280Px,$marginBottomTittleMax1280Px);
  @include breakPoint1370Px($divSectionMarginMax1370px,$fontsizeMobileTextMax1370Px,$marginBottomTittleMax1370Px);
  @include breakPoint1900Px($divSectionMarginMax1370px,$fontsizeMobileTextMax1900Px,$marginBottomTittleMax1900Px);
  //Breakpoints Landscape
  @include breakPointLandscape640Px ($divSectionMarginMaxLp640px, $fontsizeMobileTextMaxLp640Px);
  @include breakPointLandscape667Px ($divSectionMarginMaxLp667px, $fontsizeMobileTextMaxLp667Px);
  @include breakPointLandscape684Px ($divSectionMarginMaxLp684px, $fontsizeMobileTextMaxLp684Px);
  //These below three are the same, only difference is  @media width 734 and 736 values are all the same -
  @include breakPointLandscape731Px ($divSectionMarginMaxLp734px, $fontsizeMobileTextMaxLp734Px);
  @include breakPointLandscape734Px ($divSectionMarginMaxLp734px, $fontsizeMobileTextMaxLp734Px);
  @include breakPointLandscape736Px ($divSectionMarginMaxLp734px, $fontsizeMobileTextMaxLp734Px);
  ////////////These two below are the same only difference is @media width 812 and 823 values are all the same -
  @include breakPointLandscape812Px ($divSectionMarginMaxLp812px, $fontsizeMobileTextMaxLp812Px);
  @include breakPointLandscape823Px ($divSectionMarginMaxLp812px, $fontsizeMobileTextMaxLp812Px);
  @include breakPointLandscape1024Px ($divSectionMarginMaxLp1024px, $fontsizeMobileTextMaxLp1024Px);

}
