@import './variablesStyles';

//Flex section functions

@mixin flexCenter($alignContent, $alignItems, $direction) {
  height: 100vh;
  display: flex;
  justify-content: $alignContent;
  align-items: $alignItems;
  flex-direction: $direction;
}



//Brekapoints  Functions

@mixin breakPoint360Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (max-width: 360px) {
    
    margin:$marginBreakPoint;
    font-size:$fontsizeBreakPoint;

    h1 {
      font-size: 2rem;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      // line-height:$lineHeighttext ;
      margin-bottom: $marginBottomTextMax360Px
    }

    ul.indicatores{
      top:590px;
    }
  }
}

@mixin breakPoint420Px($marginBreakPoint, $fontsizeBreakPoint) {
  @media screen and (max-width: 420px) {
    margin: $marginBreakPoint;
    h1 {
      font-size: 3rem;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size:$fontsizeBreakPoint;
      // line-height:$lineHeighttext ;
      margin-bottom:$marginBottomTextMax420Px
    }
  }
}
@mixin breakPoint770Px($marginBreakPoint, $fontsizeBreakPoint, $marginBottom) {
  @media screen and (max-width: 770px) {
    margin: $marginBreakPoint;
    h1 {
      font-size: 4rem;
      margin-bottom:$marginBottom;
      color: $titleFontColour;
    }
    p {
      color: $textColour;
      font-size:$fontsizeBreakPoint;
      
      // line-height:$lineHeighttext ;
      margin-bottom:$marginBottomTextMax770Px;
    }

    video{
      margin-top:5rem;
    }
  }
}

//Margin Alignment includes breakPoints
@mixin marginAlignment{
  margin:$divSectionsMargin;
  //Breakpoint
  @include breakPoint360Px($divSectionMarginMax360px, $fontsizeMobileTextMax360Px);
  @include breakPoint420Px($divSectionMarginMax420px, $fontsizeMobileTextMax420Px);
  @include breakPoint770Px( $divSectionMarginMax770px, $fontsizeMobileTextMax770Px,$marginBottomTittleMax770Px)
}
