
//Text styling variables
//#323648;
$titleFontColour:#333;
$textColour:#696969;
$textFontFamily:'Work Sans', sans-serif;
$textNavBarColor:#f4f4f4;



//MarginVariables

$divSectionsMargin: 0 150px 180px 150px;



//Navigation Bar styling

$backgroundNavbar:rgba(0,0,0,0.7);


//Background section colour -WhoIam, Experiences, ContactMe, 

$backgroundSections: #fffafa;


//Breakpoints Variables Portrait --------------------------->>>>>>>>>--//


//Variables breakpoint 365px MAX WIDTH 365PX
$fontsizeMobileTextMax360Px:16px;
$lineHeighttextMAX360Px:1.6rem;
$marginBottomTextMax360Px:1rem;
$marginBottomTittleMax360Px:2rem;
$divSectionMarginMax360px: 0 1rem 0 1rem;

//Variables breakpoint 420px MAX WIDTH 420PX
$fontsizeMobileTextMax420Px:16px;
$lineHeighttextMax420Px:1.6rem;
$marginBottomTextMax420Px:1.5rem;
$marginBottomTittleMax420Px:2rem;
$divSectionMarginMax420px: 0 2rem 0 2rem;

//Variables breakpoint 375px MAX WIDTH 375PX
$fontsizeMobileTextMax375Px:15px;
$lineHeighttextMax375Px:1.6rem;
$marginBottomTextMax375Px:1.2rem;
$marginBottomTittleMax375Px:1.8rem;
$divSectionMarginMax375px: 0 1.8rem 0 1.8rem;

//Variables breakpoint 480px  WIDTH 480PX
$fontsizeMobileTextMax480Px:18px;
$lineHeighttextMax480Px:1.6rem;
$marginBottomTextMax480Px:1.5rem;
$marginBottomTittleMax480Px:2rem;
$divSectionMarginMax480px: 0 1rem 0 1rem;

//Variables breakpoint 770px MAX WIDTH 770PX
$fontsizeMobileTextMax770Px:22px;
$lineHeighttextMax770Px:1.6rem;
$marginBottomTextMax770Px:3rem;
$marginBottomTittleMax770Px:5rem;
$divSectionMarginMax770px:0 3rem 0 3rem;

//Variables breakpoint 1024px MAX WIDTH 1024PX
$fontsizeMobileTextMax1024Px:22px;
$lineHeighttextMax1024Px:1.6rem;
$marginBottomTextMax1024Px:3rem;
$marginBottomTittleMax1024Px:5rem;
$divSectionMarginMax1024px:0 3rem 0 3rem;

//Variables breakpoint 1370px MAX WIDTH 1370PX
$fontsizeMobileTextMax1370Px:22px;
$lineHeighttextMax1370Px:1.6rem;
$marginBottomTextMax1370Px:3rem;
$marginBottomTittleMax1370Px:5rem;
$divSectionMarginMax1370px:0 15rem 0 15rem;


//Breakpoints Variables Landscape --------------------------->>>>>>>>>--//
//Lp stands for Landscape--------->>>>>//

//Variables breakpointLp 667px Min WIDTH 375PX
$fontsizeMobileTextMaxLp667Px:14px;
$lineHeighttextMaxLp667Px:1.6rem;
$marginBottomTextMaxLp667Px:0.5rem;
$marginBottomTittleMaxLp667Px:0.5rem;
$divSectionMarginMaxLp667px:0 1rem 0 1rem;

//Variables breakpointLp 734px Min WIDTH 734PX
$fontsizeMobileTextMaxLp734Px:14px;
$lineHeighttextMaxLp734Px:1.6rem;
$marginBottomTextMaxLp734Px:0.5rem;
$marginBottomTittleMaxLp734Px:0.5rem;
$divSectionMarginMaxLp734px:0 1.5rem 0 1.5rem;


