
//Text styling variables
//#323648;
$titleFontColour:#333;
$textColour:#696969;
$textFontFamily:'Work Sans', sans-serif;
$textNavBarColor:#f4f4f4;



//MarginVariables

$divSectionsMargin: 0 150px 180px 150px;



//Navigation Bar styling

$backgroundNavbar:rgba(0,0,0,0.7);


//Background section colour -WhoIam, Experiences, ContactMe, 

$backgroundSections: #fffafa;


//Breakpoints Variables Portrait --------------------------->>>>>>>>>--//

//Variables breakpoint 350px MAX WIDTH 350PX
$fontsizeMobileTextMax350Px:11px;
$lineHeighttextMAX350Px:20px;
$letterSpacingMax350Px:1.6px;
$wordSpacingMax350Px:2px;
$marginBottomTextMax350Px:18px;
$marginBottomTittleMax350Px:0.2rem;
$divSectionMarginMax350px: 0 1rem 0 1rem;


//Variables breakpoint 365px MAX WIDTH 365PX
$fontsizeMobileTextMax360Px:12px;
$lineHeighttextMAX360Px:22px;
$marginBottomTextMax360Px:22px;
$letterSpacingMax360Px:1.5px;
$wordSpacingMax360Px:2px;
$marginBottomTittleMax360Px:1.4rem;
$divSectionMarginMax360px: 0 1.5rem 0 1.5rem;

//Variables breakpoint 420px MAX WIDTH 420PX
$fontsizeMobileTextMax420Px:13px;
$lineHeighttextMax420Px:21px;
$letterSpacingMax420Px:2px;
$wordSpacingMax420Px:2.2px;
$marginBottomTextMax420Px:28px;
$marginBottomTittleMax420Px:1.4rem;
$divSectionMarginMax420px: 0 2rem 0 2rem;

//Variables breakpoint 375px MAX WIDTH 375PX
$fontsizeMobileTextMax375Px:12px;
$lineHeighttextMax375Px:20px;
$marginBottomTextMax375Px:24px;
$marginBottomTittleMax375Px:18px;
$letterSpacingMax375Px:1.6px;
$wordSpacingMax375Px:2px;
$divSectionMarginMax375px: 0 2rem 0 2rem;

//Variables breakpoint 375px and height 812px IphoneX
$fontsizeMobileTextMax375AndHeight812Px:14px;
$lineHeighttextMax375AndHeight812Px:20px;
$marginBottomTextMax375AndHeight812Px:24px;
$marginBottomTittleMax375AndHeight812Px:18px;
$letterSpacingMax375AndHeight812Px:1.6px;
$wordSpacingMax375AndHeight812Px:2px;
$divSectionMarginMax375AndHeight812px: 0 2rem 0 2rem;

//Variables breakpoint 480px  WIDTH 480PX
$fontsizeMobileTextMax480Px:13px;
$lineHeighttextMax480Px:22px;
$letterSpacingMax480Px:2.4px;
$wordSpacingMax480Px:2.2px;
$lineHeighttextMax480Px:1.6rem;
$marginBottomTextMax480Px:22px;
$marginBottomTittleMax480Px:2rem;
$divSectionMarginMax480px: 0 2rem 0 2rem;

//Variables breakpoint 770px MAX WIDTH 770PX
$fontsizeMobileTextMax770Px:16px;
$lineHeighttextMax770Px:26px;
$marginBottomTextMax770Px:28px;
$letterSpacingMax770Px:2.2px;
$wordSpacingMax770Px:2.5px;
$marginBottomTittleMax770Px:4rem;
$divSectionMarginMax770px:0 3.8rem 0 3.8rem;

//Variables breakpoint 1024px MAX WIDTH 1024PX
$fontsizeMobileTextMax1024Px:22px;
$lineHeighttextMax1024Px:36px;
$marginBottomTextMax1024Px:44px;
$letterSpacingMax1024Px:2.8px;
$wordSpacingMax1024Px:3.5px;
$marginBottomTittleMax1024Px:5rem;
$divSectionMarginMax1024px:0 5rem 0 5rem;





//Breakpoints Variables Landscape --------------------------->>>>>>>>>--//
//Lp stands for Landscape--------->>>>>//

//Variables breakpointLp 600px Min WIDTH 600PX
$fontsizeMobileTextMaxLp600Px:12px;
$lineHeighttextMaxLp600Px:16px;
$marginBottomTextMaxLp600Px:20px;
$wordSpacingMax1Lp600Px:1.9px;
$letterSpacingMax1Lp600Px:1.2px;
$marginBottomTittleMaxLp600Px:3rem;
$divSectionMarginMaxLp600px:0 2rem 0 2rem;

//Variables breakpointLp 640px Min WIDTH 640PX
$fontsizeMobileTextMaxLp640Px:12px;
$letterSpacingMax640Px:1.4px;
$lineHeighttextMaxLp640Px:20px;
$wordSpacingMax1Lp640Px:1.9;
$marginBottomTextMaxLp640Px:20px;
$marginBottomTittleMaxLp640Px:0.5rem;
$divSectionMarginMaxLp640px:0 2rem 0 2rem;

//Variables breakpointLp 667px Min WIDTH 667PX
$fontsizeMobileTextMaxLp667Px:12px;
$lineHeighttextMaxLp667Px:20px;
$letterSpacingLp667Px:1.4px;
$wordSpacingMax1Lp667Px:1.9px;
$marginBottomTextMaxLp667Px:24px;
$marginBottomTittleMaxLp667Px:0.5rem;
$divSectionMarginMaxLp667px: 0 2.5rem 0 2.5rem;

//Variables breakpointLp 684px Min WIDTH 684PX
$fontsizeMobileTextMaxLp684Px:13px;
$lineHeighttextMaxLp684Px:21px;
$letterSpacingLp684Px:1.6px;
$wordSpacingMax1Lp640Px:2px;
$marginBottomTextMaxLp684Px:20px;
$marginBottomTittleMaxLp684Px:0.5rem;
$divSectionMarginMaxLp684px:0 2rem 0 2rem;

//Variables breakpointLp 734px Min WIDTH 734PX
$fontsizeMobileTextMaxLp734Px:13px;
$lineHeighttextMaxLp734Px:21px;
$letterSpacingLp734Px:1.7px;
$wordSpacingMax1Lp734Px:2px;
$marginBottomTextMaxLp734Px:24px;
$marginBottomTittleMaxLp734Px:0.5rem;
$divSectionMarginMaxLp734px:0 2.5rem 0 2.5rem;

//Variables breakpointLp 812px Min WIDTH 812PX
$fontsizeMobileTextMaxLp812Px:13px;
$lineHeighttextMaxLp812Px:22px;
$letterSpacingLp812Px:1.7px;
$wordSpacingMax1Lp812Px:2px;
$marginBottomTextMaxLp812Px:22px;
$marginBottomTittleMaxLp812Px:0.5rem;
$divSectionMarginMaxLp812px:0 3rem 0 3rem;

//Variables breakpointLp 1024px Min WIDTH 1024PX
$fontsizeMobileTextMaxLp1024Px:18px;
$lineHeighttextMaxLp1024Px:25px;
$marginBottomTextMaxLp1024Px:25px;
$letterSpacingLp1024Px:2.10px;
$wordSpacingMax1Lp812Px:2.8px;
$marginBottomTittleMaxLp1024Px:2rem;
$divSectionMarginMaxLp1024px:0 4rem 0 4rem;



//Breakpoints Desktop  --------------------------->>>>>>>>>--//

//Variables breakpoint 1370px MAX WIDTH 1370PX
$fontsizeMobileTextMax1370Px:18px;
$lineHeighttextMax1370Px:34px;
$letterSpacingMax1370Px:2.9px;
$wordSpacingMax1370Px:2.2px;
$marginBottomTextMax1370Px:30px;
$marginBottomTittleMax1370Px:5rem;
$divSectionMarginMax1370px:0 15rem 0 15rem;

//Variables breakpoint 1280px MAX WIDTH 1280PX
$fontsizeMobileTextMax1280Px:18px;
$lineHeighttextMax1280Px:34px;
$letterSpacingMax1280Px:2.8px;
$wordSpacingMax1280Px:2.2px;
$marginBottomTextMax1280Px:28px;
$marginBottomTittleMax1280Px:4rem;
$divSectionMarginMax1280px:0 15rem 0 15rem;

//Variables breakpoint 1800px MAX WIDTH 1280PX
$fontsizeMobileTextMax1800Px:18px;
$lineHeighttextMax1800Px:34px;
$letterSpacingMax1800Px:2.8px;
$wordSpacingMax1800Px:2.2px;
$marginBottomTextMax1800Px:28px;
$marginBottomTittleMax1800Px:4rem;
$divSectionMarginMax1800px:0 15rem 0 15rem;

//Variables breakpoint 19000px MAX WIDTH 2400PX
$fontsizeMobileTextMax1900Px:18px;
$lineHeighttextMax1900Px:34px;
$letterSpacingMax1900Px:2.8px;
$wordSpacingMax1900Px:2.2px;
$marginBottomTextMax1900Px:34px;
$marginBottomTittleMax1900Px:5rem;
$divSectionMarginMax1900px:0 18rem 0 18rem;
