@import './variables-Functions/variablesStyles';
@import './variables-Functions/functions';

.contact {
   @include flexCenter(center,center,column);
 
}

section#contact{
   background:$backgroundSections;
   widows: 100%;
   height:100vh;
  
}