@import "./variables-Functions/variablesStyles";
@import "./variables-Functions/functions";

div.experiences-background {
  background: url("../images/trees.jpg")  no-repeat center center; 
  background-position:center center;
  -moz-background-position:center center;
  -webkit-background-position:center center;
  background-size:cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 80vh;
  padding:0;
}

  .no-touch div.experiences-background{

   background-attachment: fixed;
  -webkit-background-atachment:fixed;
  -moz-background-atachment:fixed;
  -o-background-atachment: fixed;
  background-position:center center;
 -moz-background-position:center center;
 -webkit-background-position:center center;
}



section#experiences {
  background: $backgroundSections;
  width: 100%;
  height: 100vh;
  display: flex;
}

.experiences-content {
  @include flexCenter(center, center, column);

  h1 {
    color: $titleFontColour;
  }

  p {
    color: $textColour;
    font-family: $textFontFamily;
  }
  //This function includes all breakpoints as well
  @include marginAlignment();
}
