@import "./variables-Functions/variablesStyles";
@import "./variables-Functions/functions";

.experiences-background {
  background: url("../images/manInOcean.jpg") fixed no-repeat center
    center/cover;
  width: 100%;
  height: 60vh;
}

section#experiences {
  background: $backgroundSections;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.experiences-content {
  @include flexCenter(center, center, column);

  h1 {
    color: $titleFontColour;
  }

  p {
    color: $textColour;
    font-family: $textFontFamily;
  }
  //This function includes all breakpoints as well
  @include marginAlignment();
}
