// @import './experiences';
@import "./variables-Functions/variablesStyles";

@mixin backgorundColour($backgroundItemcolour) {
  background: $backgroundItemcolour;
}

section.portfolio-background {
  background: url("../images/Himalaya.jpg") fixed no-repeat center center;
    background-size:cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  -webkit-background-atachment:fixed;
  -moz-background-atachment:fixed;
  -o-background-atachment: fixed;
  width: 100%;
  height: 80vh;
  margin:auto;
  padding:0;
}

section#portfolio-section {
  width: 100%;
  height:auto;
}
.portfolio {
  width: 100%;
  height: 100vh;
}

.carousel {
  width: 100%;
  height: 100vh;
}

.portfolio .carousel-item {
  display: flex;
  flex-direction: column;
}

.carousel .carousel-item .portfolio-content {
  //This function includes all breakpoints as well
  @include marginAlignment();
}

.portfolio-background {
  background: $backgroundSections;
}

.button-fixed{
 display:flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;
 width:30%;
 margin:50px auto; 
}


.portfolio-content a.btn.pulse{

  margin-top:200px;
  padding:0;
  background:#fdf3f3; 
  color:#333;
  font-size:16px;
  font-weight:bold;
}

.portfolio-content a.btn.pulse span{
 margin:0 8px;
}