// @import './experiences';
@import "./variables-Functions/variablesStyles";

@mixin backgorundColour($backgroundItemcolour) {
  background: $backgroundItemcolour;
}

div.portfolio-background-image {
  background: url("../images/Himalaya.jpg") no-repeat center center;
  background-position:center center;
 -moz-background-position:center center;
 -webkit-background-position:center center;
  background-size:cover;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 -o-background-size: cover;
  width: 100%;
  height: 80vh;
  padding:0;
}

  .no-touch div.portfolio-background-image{
    
    background-attachment: fixed;
  -webkit-background-atachment:fixed;
  -moz-background-atachment:fixed;
  -o-background-atachment: fixed;
   background-position:center center;
 -moz-background-position:center center;
 -webkit-background-position:center center;
}



section#portfolio-section {
  background: $backgroundSections;
  width: 100%;
  height: 100vh; 
  overflow-x: hidden;
  position: relative;
}





.portfolio-background {
  background: $backgroundSections;
  
}

.button-fixed{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width:30%;
  margin:50px auto; 
}


.portfolio-content a.btn.pulse{
  
  margin-top:200px;
  padding:0;
  background:#fdf3f3; 
  color:#333;
  font-size:16px;
  font-weight:bold;
}


//Slider section sytling

.container-portfolio {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
   overflow-x:scroll;
  scroll-snap-type: x mandatory; 
  -webkit-scroll-snap-type: x mandatory;
  -moz-scroll-snap-type: x mandatory;
  -o-scroll-snap-type: x mandatory;
}
.control-portfolio ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 15px 0;
  padding: 0;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
}

.control-portfolio ul li {
  width: 8px;
  height: 8px;
  background: #333;
  border: 2px solid #333;
  border-radius: 50px;
  margin: 8px;
  cursor: pointer;
}

.slider-portfolio{
  display: flex;
  height:100vh;
  width:700%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition:all 1s; 
  -o-transition: all 1s;
}



.carousel-portfolio {
  height:100vh;
  width: 100%;
  position: relative;
}

.left-portfolio, .right-portfolio {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow-portfolio i {
  font-size: 25px;
  -webkit-user-select: none;
  color:black;
}


.arrow-portfolio i:hover {
  color:skyblue;
}

.arrow-portfolio i:focus {
  color:skyblue;
}
.arrow-portfolio i:active {
  color:skyblue;
}

.left-portfolio {
  left: -4px;
}
.right-portfolio {
  right: -4px;
  
}

.control-portfolio ul li.selected-portfolio {
  background: transparent;
}


.portfolio-content video{
  align-self: center;
}

 .portfolio-content {
   align-self:center;
  scroll-snap-align:center;
  //This function includes all breakpoints as well
  @include flexCenter(center, center, column);
  @include marginAlignment();
  width: 100%;
  margin: 0 auto 0 auto;
}


