@import "./variables-Functions/variablesStyles";
@import "./variables-Functions/functions";

div.who-i-am-background {

  background: url("../images/manInOcean.jpg") no-repeat center center;
  background-position:center center;
  -moz-background-position:center center;
  -webkit-background-position:center center;
  background-size:cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100vw;
  height: 80vh;
  margin:auto;
  padding:0;

  .content-banner h1{
    color:whitesmoke;
    margin:0 auto;
    font-weight: bold;    
  }
  
  .content-banner{
    z-index: 2;
    // background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .content-banner p.profession-banner{
    font-size:24px;
    color:whitesmoke;
    font-weight: bold;
    margin:0 auto;
  }
}

  .no-touch div.who-i-am-background {
  
   background-attachment: fixed;
  -webkit-background-atachment:fixed;
  -moz-background-atachment:fixed;
  -o-background-atachment: fixed;
    background-position:center center;
 -moz-background-position:center center;
 -webkit-background-position:center center;
}

.banner-title{
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  height:80vh;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto 0;
}


section#who-i-am {
  background: $backgroundSections;
  width: 100%;
  height: 100vh; 
}

//Slider section sytling

.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}

.control ul li {
  width: 8px;
  height: 8px;
  background: #333;
  border: 2px solid #333;
  border-radius: 50px;
  margin: 8px;
  cursor: pointer;
}

.slider-who-i-am{
  display: flex;
  height:100vh;
  width:200%;
}

.container {
  width: 100%;
  margin:0px auto;
}

.carousel-who-i-am {
  height:100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}

.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow i {
  font-size: 30px;
  -webkit-user-select: none;
  color:black;
}
.left {
  left: -4px;
}
.right {
  right: -4px;
}

// .slider-who-i-am{

//   justify-content: center;
//   align-items: center;
//   display: flex;
// }

#content-who-i-am { 
  @include flexCenter(center, center, column);
  @include marginAlignment();
}