@import "./variables-Functions/variablesStyles";
@import "./variables-Functions/functions";

section.who-i-am-background {
  background: url("../images/manInOcean.jpg") fixed no-repeat center center/cover;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  width: 100%;
  height: 80vh;
  margin:auto;
  padding:0;
  
  .content-banner h1{
     color:whitesmoke;
     margin:0 auto;
     font-weight: bold;

  }

  .content-banner{
      z-index: 2;
    // background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .content-banner p.profession-banner{
    font-size:24px;
    color:whitesmoke;
    font-weight: bold;
    margin:0 auto;
  }
}

.banner-title{
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  height:80vh;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto 0;

  


}

section#who-i-am {
  background: $backgroundSections;
  width: 100%;
  height: 100vh; 
}

.who-i-am {
 
  @include flexCenter(center, center, column);
}
.carousel .carousel-item  #content-who-i-am{
  //This function includes all breakpoints as well
  // height:100%;
  @include marginAlignment();
}

