@import "./variables-Functions/variablesStyles";
@import "./variables-Functions/functions";

section.who-i-am-background {
  background: url("../images/trees.jpg") fixed no-repeat center center/cover;
  width: 100%;
  height: 60vh;
  h1{
    color:$titleFontColour
  }
}

section#who-i-am {
  background: $backgroundSections;
  width: 100%;
  height: 100vh;
}

.who-i-am {
  
  @include flexCenter(center, center, column);
}
.carousel .carousel-item  .content-who-i-am{
  //This function includes all breakpoints as well
  @include marginAlignment();
}

