@import './variables-Functions/variablesStyles';
@import './variables-Functions/functions';
@import './navbar';
@import './experiences';
@import './contact';
@import './whoIam';
@import './portfolio';

*{
    margin:0;
    padding:0;
  
}

body{
    
    font-family:$textFontFamily;
    background:#333;
    line-height:1.6;
    height:100vh;
    
}

#app{
width:100%;
height:100%;

}


section{
 
    scroll-snap-align:center;
}

.carousel .indicators .indicator-item{
    background:lightgray;
}
.carousel .indicators .indicator-item.active{
     background:#333;
}

//BreakPoints


 @media screen and (max-width: 1025px){

    body{
        font-size:27px;
    }

   ul li a{
       font-size:18px; 
    }
   
 }