@import './variables/variablesStyles';
@import './navbar';
@import './experiences';
@import './contact';
@import './portfolio';

*{
    margin:0;
    padding:0;
}

body{

    font-family:$textFontFamily;
    background:#333;
    line-height:1.6;
    height:100vh;
}

#app{
width:100%;
height:100%
}