nav {
  background-color: #333;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  height: 60px;
}

.nav-wrapper {
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.navbar-fixed {
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  height: 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  padding-left: 4rem;
  text-align: center;
}

nav ul li a:hover {
  color: skyblue;
}

.experiences-background {
  background: url("../images/manInOcean.jpg") fixed no-repeat center center/cover;
  width: 100%;
  height: 50vh;
}

section#experiences {
  background: snow;
  width: 100%;
  height: 100vh;
}

.experiences {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experiences h1 {
  color: #333;
}

.experiences p {
  color: #323648;
  font-family: "Work Sans", sans-serif;
}

.experiences-background {
  background: url("../images/manInOcean.jpg") fixed no-repeat center center/cover;
  width: 100%;
  height: 50vh;
}

section#experiences {
  background: snow;
  width: 100%;
  height: 100vh;
}

.experiences {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experiences h1 {
  color: #333;
}

.experiences p {
  color: #323648;
  font-family: "Work Sans", sans-serif;
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#contact {
  background: snow;
  widows: 100%;
  height: 100vh;
}

.experiences-background {
  background: url("../images/manInOcean.jpg") fixed no-repeat center center/cover;
  width: 100%;
  height: 50vh;
}

section#experiences {
  background: snow;
  width: 100%;
  height: 100vh;
}

.experiences {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experiences h1 {
  color: #333;
}

.experiences p {
  color: #323648;
  font-family: "Work Sans", sans-serif;
}

section.who-i-am-background {
  background: url("../images/trees.jpg") fixed no-repeat center center/cover;
  width: 100%;
  height: 50vh;
}

section#who-i-am {
  background: snow;
  width: 100%;
  height: 100vh;
}

.who-i-am {
  z-index: 3;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experiences-background {
  background: url("../images/manInOcean.jpg") fixed no-repeat center center/cover;
  width: 100%;
  height: 50vh;
}

section#experiences {
  background: snow;
  width: 100%;
  height: 100vh;
}

.experiences {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experiences h1 {
  color: #333;
}

.experiences p {
  color: #323648;
  font-family: "Work Sans", sans-serif;
}

section.portfolio-background {
  background: url("../images/Himalaya.jpg") fixed no-repeat center center/cover;
  width: 100%;
  height: 50vh;
}

section#portfolio-section {
  width: 100%;
  height: 100vh;
}

.portfolio {
  width: 100%;
  height: 100vh;
}

.carousel {
  width: 100%;
  height: 100vh;
}

.portfolio .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-1 {
  background: red;
}

.item-2 {
  background: blue;
}

.item-3 {
  background: green;
}

.item-4 {
  background: black;
}

.item-5 {
  background: teal;
}

.item-7 {
  background: purple;
}

.item-7 {
  background: pink;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background: #333;
  line-height: 1.6;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

section {
  scroll-snap-align: center;
}
/*# sourceMappingURL=style.css.map */