nav {
  background-color: #333;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  width: 100%;
  height: 60px;
}

.nav-wrapper {
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.navbar-fixed {
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  height: 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;
}

nav ul li a:hover {
  color: skyblue;
}

.experiences-background {
  background: url("../images/manInOcean.jpg") fixed no-repeat center center/cover;
  width: 100%;
  height: 50vh;
}

section#experiences {
  background: #fffafa;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.experiences-content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 150px 180px 150px;
}

.experiences-content h1 {
  color: #333;
}

.experiences-content p {
  color: #696969;
  font-family: "Work Sans", sans-serif;
}

@media screen and (max-width: 365px) and (min-width: 350px) {
  .experiences-content {
    margin: 0 1rem 0 1rem;
    font-size: 16px;
  }
  .experiences-content h1 {
    font-size: 2rem;
    color: #333;
  }
  .experiences-content p {
    color: #696969;
    margin-bottom: 1rem;
  }
  .experiences-content ul.indicatores {
    top: 590px;
  }
  .experiences-content video {
    margin-top: 1rem;
    width: 320px;
  }
}

@media screen and (max-width: 420px) and (min-width: 380px) {
  .experiences-content {
    margin: 0 2rem 0 2rem;
  }
  .experiences-content h1 {
    font-size: 3rem;
    color: #333;
  }
  .experiences-content p {
    color: #696969;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }
  .experiences-content video {
    margin-top: 3rem;
    width: 350px;
  }
}

@media screen and (max-width: 400px) and (min-width: 372px) {
  .experiences-content {
    margin: 0 1.8rem 0 1.8rem;
  }
  .experiences-content h1 {
    font-size: 2.5rem;
    color: #333;
  }
  .experiences-content p {
    color: #696969;
    font-size: 15px;
    margin-bottom: 1.2rem;
  }
  .experiences-content .experience-title {
    margin-top: -40px;
  }
  .experiences-content .contact-title {
    margin-top: -40px;
  }
  .experiences-content video {
    margin-top: 3rem;
    width: 300px;
  }
}

@media screen and (max-width: 470px) and (min-width: 450px) {
  .experiences-content {
    margin: 0 2rem 0 2rem;
  }
  .experiences-content h1 {
    font-size: 3rem;
    color: #333;
  }
  .experiences-content p {
    color: #696969;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }
  .experiences-content video {
    margin-top: 3rem;
    width: 350px;
  }
}

@media screen and (width: 480px) {
  .experiences-content {
    margin: 0 1rem 0 1rem;
  }
  .experiences-content h1 {
    font-size: 3rem;
    color: #333;
  }
  .experiences-content p {
    color: #696969;
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
  .experiences-content video {
    margin-top: 2rem;
    width: 400px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 900px) {
  .experiences-content {
    margin: 0 3rem 0 3rem;
  }
  .experiences-content h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .experiences-content p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .experiences-content .experience-title {
    margin-top: -500px;
  }
  .experiences-content .contact-title {
    margin-top: -500px;
  }
  .experiences-content video {
    margin-top: 5rem;
    width: 800px;
  }
}

@media only screen and (max-width: 810px) and (min-width: 750px) {
  .experiences-content {
    margin: 0 3rem 0 3rem;
  }
  .experiences-content h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .experiences-content p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .experiences-content .experience-title {
    margin-top: -180px;
  }
  .experiences-content .contact-title {
    margin-top: -180px;
  }
  .experiences-content video {
    margin-top: 5rem;
    width: 700px;
  }
}

@media only screen and (max-width: 1024) and (min-width: 900px) and (orientation: landscape) {
  .experiences-content {
    margin: 0 3rem 0 3rem;
  }
  .experiences-content h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .experiences-content p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .experiences-content .experience-title {
    margin-top: -50px;
  }
  .experiences-content .contact-title {
    margin-top: -50px;
  }
  .experiences-content .portfolio-title {
    margin-bottom: 3rem;
  }
  .experiences-content video {
    margin-top: 0.5rem;
    width: 620px;
  }
}

@media only screen and (min-width: 1360px) and (min-width: 900px) {
  .experiences-content {
    margin: 0 15rem 0 15rem;
  }
  .experiences-content h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .experiences-content p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .experiences-content .experience-title {
    margin-top: -100px;
  }
  .experiences-content .contact-title {
    margin-top: -100px;
  }
  .experiences-content .portfolio-title {
    margin-bottom: 3rem;
  }
  .experiences-content video {
    margin-top: 0.5rem;
    width: 900px;
  }
}

@media screen and (width: 667px) and (orientation: landscape) {
  .experiences-content {
    margin: 0 1rem 0 1rem;
    font-size: 14px;
  }
  .experiences-content h1 {
    font-size: 2rem;
    color: #333;
  }
  .experiences-content p {
    color: #696969;
    margin-bottom: 0.5rem;
  }
  .experiences-content .experience-title {
    margin-top: -20px;
  }
  .experiences-content .contact-title {
    margin-top: -20px;
  }
  .experiences-content .portfolio-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .experiences-content .carousel .carousel-item .content-who-i-am p {
    font-size: 12px;
  }
  .experiences-content .who-i-am-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .experiences-content #who-i-am .carousel ul.indicatores.indicator-item {
    top: 590px;
  }
  .experiences-content video {
    margin-top: 0.2rem;
    width: 280px;
  }
}

@media screen and (width: 734px) and (orientation: landscape) {
  .experiences-content {
    margin: 0 1.5rem 0 1.5rem;
    font-size: 14px;
  }
  .experiences-content h1 {
    font-size: 2rem;
    color: #333;
  }
  .experiences-content p {
    color: #696969;
    margin-bottom: 0.5rem;
  }
  .experiences-content .experience-title {
    margin-top: -20px;
  }
  .experiences-content .contact-title {
    margin-top: -20px;
  }
  .experiences-content .portfolio-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .experiences-content .carousel .carousel-item .content-who-i-am p {
    font-size: 12px;
  }
  .experiences-content .who-i-am-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .experiences-content #who-i-am .carousel ul.indicatores.indicator-item {
    top: -600px;
  }
  .experiences-content video {
    margin-top: 0.2rem;
    width: 300px;
  }
}

@media screen and (width: 736px) and (orientation: landscape) {
  .experiences-content {
    margin: 0 1.5rem 0 1.5rem;
    font-size: 14px;
  }
  .experiences-content h1 {
    font-size: 2rem;
    color: #333;
  }
  .experiences-content p {
    color: #696969;
    margin-bottom: 0.5rem;
  }
  .experiences-content .experience-title {
    margin-top: -20px;
  }
  .experiences-content .contact-title {
    margin-top: -20px;
  }
  .experiences-content .portfolio-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .experiences-content .carousel .carousel-item .content-who-i-am p {
    font-size: 12px;
  }
  .experiences-content .who-i-am-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .experiences-content #who-i-am .carousel ul.indicatores.indicator-item {
    top: 620px;
  }
  .experiences-content video {
    margin-top: 0.2rem;
    width: 300px;
  }
}

section#contact {
  background: #fffafa;
  widows: 100%;
  height: 100vh;
}

.contact-content {
  widows: 100%;
  height: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 150px 180px 150px;
}

@media screen and (max-width: 365px) and (min-width: 350px) {
  .contact-content {
    margin: 0 1rem 0 1rem;
    font-size: 16px;
  }
  .contact-content h1 {
    font-size: 2rem;
    color: #333;
  }
  .contact-content p {
    color: #696969;
    margin-bottom: 1rem;
  }
  .contact-content ul.indicatores {
    top: 590px;
  }
  .contact-content video {
    margin-top: 1rem;
    width: 320px;
  }
}

@media screen and (max-width: 420px) and (min-width: 380px) {
  .contact-content {
    margin: 0 2rem 0 2rem;
  }
  .contact-content h1 {
    font-size: 3rem;
    color: #333;
  }
  .contact-content p {
    color: #696969;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }
  .contact-content video {
    margin-top: 3rem;
    width: 350px;
  }
}

@media screen and (max-width: 400px) and (min-width: 372px) {
  .contact-content {
    margin: 0 1.8rem 0 1.8rem;
  }
  .contact-content h1 {
    font-size: 2.5rem;
    color: #333;
  }
  .contact-content p {
    color: #696969;
    font-size: 15px;
    margin-bottom: 1.2rem;
  }
  .contact-content .experience-title {
    margin-top: -40px;
  }
  .contact-content .contact-title {
    margin-top: -40px;
  }
  .contact-content video {
    margin-top: 3rem;
    width: 300px;
  }
}

@media screen and (max-width: 470px) and (min-width: 450px) {
  .contact-content {
    margin: 0 2rem 0 2rem;
  }
  .contact-content h1 {
    font-size: 3rem;
    color: #333;
  }
  .contact-content p {
    color: #696969;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }
  .contact-content video {
    margin-top: 3rem;
    width: 350px;
  }
}

@media screen and (width: 480px) {
  .contact-content {
    margin: 0 1rem 0 1rem;
  }
  .contact-content h1 {
    font-size: 3rem;
    color: #333;
  }
  .contact-content p {
    color: #696969;
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
  .contact-content video {
    margin-top: 2rem;
    width: 400px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 900px) {
  .contact-content {
    margin: 0 3rem 0 3rem;
  }
  .contact-content h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .contact-content p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .contact-content .experience-title {
    margin-top: -500px;
  }
  .contact-content .contact-title {
    margin-top: -500px;
  }
  .contact-content video {
    margin-top: 5rem;
    width: 800px;
  }
}

@media only screen and (max-width: 810px) and (min-width: 750px) {
  .contact-content {
    margin: 0 3rem 0 3rem;
  }
  .contact-content h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .contact-content p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .contact-content .experience-title {
    margin-top: -180px;
  }
  .contact-content .contact-title {
    margin-top: -180px;
  }
  .contact-content video {
    margin-top: 5rem;
    width: 700px;
  }
}

@media only screen and (max-width: 1024) and (min-width: 900px) and (orientation: landscape) {
  .contact-content {
    margin: 0 3rem 0 3rem;
  }
  .contact-content h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .contact-content p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .contact-content .experience-title {
    margin-top: -50px;
  }
  .contact-content .contact-title {
    margin-top: -50px;
  }
  .contact-content .portfolio-title {
    margin-bottom: 3rem;
  }
  .contact-content video {
    margin-top: 0.5rem;
    width: 620px;
  }
}

@media only screen and (min-width: 1360px) and (min-width: 900px) {
  .contact-content {
    margin: 0 15rem 0 15rem;
  }
  .contact-content h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .contact-content p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .contact-content .experience-title {
    margin-top: -100px;
  }
  .contact-content .contact-title {
    margin-top: -100px;
  }
  .contact-content .portfolio-title {
    margin-bottom: 3rem;
  }
  .contact-content video {
    margin-top: 0.5rem;
    width: 900px;
  }
}

@media screen and (width: 667px) and (orientation: landscape) {
  .contact-content {
    margin: 0 1rem 0 1rem;
    font-size: 14px;
  }
  .contact-content h1 {
    font-size: 2rem;
    color: #333;
  }
  .contact-content p {
    color: #696969;
    margin-bottom: 0.5rem;
  }
  .contact-content .experience-title {
    margin-top: -20px;
  }
  .contact-content .contact-title {
    margin-top: -20px;
  }
  .contact-content .portfolio-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .contact-content .carousel .carousel-item .content-who-i-am p {
    font-size: 12px;
  }
  .contact-content .who-i-am-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .contact-content #who-i-am .carousel ul.indicatores.indicator-item {
    top: 590px;
  }
  .contact-content video {
    margin-top: 0.2rem;
    width: 280px;
  }
}

@media screen and (width: 734px) and (orientation: landscape) {
  .contact-content {
    margin: 0 1.5rem 0 1.5rem;
    font-size: 14px;
  }
  .contact-content h1 {
    font-size: 2rem;
    color: #333;
  }
  .contact-content p {
    color: #696969;
    margin-bottom: 0.5rem;
  }
  .contact-content .experience-title {
    margin-top: -20px;
  }
  .contact-content .contact-title {
    margin-top: -20px;
  }
  .contact-content .portfolio-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .contact-content .carousel .carousel-item .content-who-i-am p {
    font-size: 12px;
  }
  .contact-content .who-i-am-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .contact-content #who-i-am .carousel ul.indicatores.indicator-item {
    top: -600px;
  }
  .contact-content video {
    margin-top: 0.2rem;
    width: 300px;
  }
}

@media screen and (width: 736px) and (orientation: landscape) {
  .contact-content {
    margin: 0 1.5rem 0 1.5rem;
    font-size: 14px;
  }
  .contact-content h1 {
    font-size: 2rem;
    color: #333;
  }
  .contact-content p {
    color: #696969;
    margin-bottom: 0.5rem;
  }
  .contact-content .experience-title {
    margin-top: -20px;
  }
  .contact-content .contact-title {
    margin-top: -20px;
  }
  .contact-content .portfolio-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .contact-content .carousel .carousel-item .content-who-i-am p {
    font-size: 12px;
  }
  .contact-content .who-i-am-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .contact-content #who-i-am .carousel ul.indicatores.indicator-item {
    top: 620px;
  }
  .contact-content video {
    margin-top: 0.2rem;
    width: 300px;
  }
}

section.who-i-am-background {
  background: url("../images/trees.jpg") fixed no-repeat center center/cover;
  width: 100%;
  height: 50vh;
}

section.who-i-am-background h1 {
  color: #333;
}

section#who-i-am {
  background: #fffafa;
  width: 100%;
  height: 100vh;
}

.who-i-am {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel .carousel-item .content-who-i-am {
  margin: 0 150px 180px 150px;
}

@media screen and (max-width: 365px) and (min-width: 350px) {
  .carousel .carousel-item .content-who-i-am {
    margin: 0 1rem 0 1rem;
    font-size: 16px;
  }
  .carousel .carousel-item .content-who-i-am h1 {
    font-size: 2rem;
    color: #333;
  }
  .carousel .carousel-item .content-who-i-am p {
    color: #696969;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .content-who-i-am ul.indicatores {
    top: 590px;
  }
  .carousel .carousel-item .content-who-i-am video {
    margin-top: 1rem;
    width: 320px;
  }
}

@media screen and (max-width: 420px) and (min-width: 380px) {
  .carousel .carousel-item .content-who-i-am {
    margin: 0 2rem 0 2rem;
  }
  .carousel .carousel-item .content-who-i-am h1 {
    font-size: 3rem;
    color: #333;
  }
  .carousel .carousel-item .content-who-i-am p {
    color: #696969;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }
  .carousel .carousel-item .content-who-i-am video {
    margin-top: 3rem;
    width: 350px;
  }
}

@media screen and (max-width: 400px) and (min-width: 372px) {
  .carousel .carousel-item .content-who-i-am {
    margin: 0 1.8rem 0 1.8rem;
  }
  .carousel .carousel-item .content-who-i-am h1 {
    font-size: 2.5rem;
    color: #333;
  }
  .carousel .carousel-item .content-who-i-am p {
    color: #696969;
    font-size: 15px;
    margin-bottom: 1.2rem;
  }
  .carousel .carousel-item .content-who-i-am .experience-title {
    margin-top: -40px;
  }
  .carousel .carousel-item .content-who-i-am .contact-title {
    margin-top: -40px;
  }
  .carousel .carousel-item .content-who-i-am video {
    margin-top: 3rem;
    width: 300px;
  }
}

@media screen and (max-width: 470px) and (min-width: 450px) {
  .carousel .carousel-item .content-who-i-am {
    margin: 0 2rem 0 2rem;
  }
  .carousel .carousel-item .content-who-i-am h1 {
    font-size: 3rem;
    color: #333;
  }
  .carousel .carousel-item .content-who-i-am p {
    color: #696969;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }
  .carousel .carousel-item .content-who-i-am video {
    margin-top: 3rem;
    width: 350px;
  }
}

@media screen and (width: 480px) {
  .carousel .carousel-item .content-who-i-am {
    margin: 0 1rem 0 1rem;
  }
  .carousel .carousel-item .content-who-i-am h1 {
    font-size: 3rem;
    color: #333;
  }
  .carousel .carousel-item .content-who-i-am p {
    color: #696969;
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
  .carousel .carousel-item .content-who-i-am video {
    margin-top: 2rem;
    width: 400px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 900px) {
  .carousel .carousel-item .content-who-i-am {
    margin: 0 3rem 0 3rem;
  }
  .carousel .carousel-item .content-who-i-am h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .carousel .carousel-item .content-who-i-am p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .carousel .carousel-item .content-who-i-am .experience-title {
    margin-top: -500px;
  }
  .carousel .carousel-item .content-who-i-am .contact-title {
    margin-top: -500px;
  }
  .carousel .carousel-item .content-who-i-am video {
    margin-top: 5rem;
    width: 800px;
  }
}

@media only screen and (max-width: 810px) and (min-width: 750px) {
  .carousel .carousel-item .content-who-i-am {
    margin: 0 3rem 0 3rem;
  }
  .carousel .carousel-item .content-who-i-am h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .carousel .carousel-item .content-who-i-am p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .carousel .carousel-item .content-who-i-am .experience-title {
    margin-top: -180px;
  }
  .carousel .carousel-item .content-who-i-am .contact-title {
    margin-top: -180px;
  }
  .carousel .carousel-item .content-who-i-am video {
    margin-top: 5rem;
    width: 700px;
  }
}

@media only screen and (max-width: 1024) and (min-width: 900px) and (orientation: landscape) {
  .carousel .carousel-item .content-who-i-am {
    margin: 0 3rem 0 3rem;
  }
  .carousel .carousel-item .content-who-i-am h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .carousel .carousel-item .content-who-i-am p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .carousel .carousel-item .content-who-i-am .experience-title {
    margin-top: -50px;
  }
  .carousel .carousel-item .content-who-i-am .contact-title {
    margin-top: -50px;
  }
  .carousel .carousel-item .content-who-i-am .portfolio-title {
    margin-bottom: 3rem;
  }
  .carousel .carousel-item .content-who-i-am video {
    margin-top: 0.5rem;
    width: 620px;
  }
}

@media only screen and (min-width: 1360px) and (min-width: 900px) {
  .carousel .carousel-item .content-who-i-am {
    margin: 0 15rem 0 15rem;
  }
  .carousel .carousel-item .content-who-i-am h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .carousel .carousel-item .content-who-i-am p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .carousel .carousel-item .content-who-i-am .experience-title {
    margin-top: -100px;
  }
  .carousel .carousel-item .content-who-i-am .contact-title {
    margin-top: -100px;
  }
  .carousel .carousel-item .content-who-i-am .portfolio-title {
    margin-bottom: 3rem;
  }
  .carousel .carousel-item .content-who-i-am video {
    margin-top: 0.5rem;
    width: 900px;
  }
}

@media screen and (width: 667px) and (orientation: landscape) {
  .carousel .carousel-item .content-who-i-am {
    margin: 0 1rem 0 1rem;
    font-size: 14px;
  }
  .carousel .carousel-item .content-who-i-am h1 {
    font-size: 2rem;
    color: #333;
  }
  .carousel .carousel-item .content-who-i-am p {
    color: #696969;
    margin-bottom: 0.5rem;
  }
  .carousel .carousel-item .content-who-i-am .experience-title {
    margin-top: -20px;
  }
  .carousel .carousel-item .content-who-i-am .contact-title {
    margin-top: -20px;
  }
  .carousel .carousel-item .content-who-i-am .portfolio-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .content-who-i-am .carousel .carousel-item .content-who-i-am p {
    font-size: 12px;
  }
  .carousel .carousel-item .content-who-i-am .who-i-am-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .content-who-i-am #who-i-am .carousel ul.indicatores.indicator-item {
    top: 590px;
  }
  .carousel .carousel-item .content-who-i-am video {
    margin-top: 0.2rem;
    width: 280px;
  }
}

@media screen and (width: 734px) and (orientation: landscape) {
  .carousel .carousel-item .content-who-i-am {
    margin: 0 1.5rem 0 1.5rem;
    font-size: 14px;
  }
  .carousel .carousel-item .content-who-i-am h1 {
    font-size: 2rem;
    color: #333;
  }
  .carousel .carousel-item .content-who-i-am p {
    color: #696969;
    margin-bottom: 0.5rem;
  }
  .carousel .carousel-item .content-who-i-am .experience-title {
    margin-top: -20px;
  }
  .carousel .carousel-item .content-who-i-am .contact-title {
    margin-top: -20px;
  }
  .carousel .carousel-item .content-who-i-am .portfolio-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .content-who-i-am .carousel .carousel-item .content-who-i-am p {
    font-size: 12px;
  }
  .carousel .carousel-item .content-who-i-am .who-i-am-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .content-who-i-am #who-i-am .carousel ul.indicatores.indicator-item {
    top: -600px;
  }
  .carousel .carousel-item .content-who-i-am video {
    margin-top: 0.2rem;
    width: 300px;
  }
}

@media screen and (width: 736px) and (orientation: landscape) {
  .carousel .carousel-item .content-who-i-am {
    margin: 0 1.5rem 0 1.5rem;
    font-size: 14px;
  }
  .carousel .carousel-item .content-who-i-am h1 {
    font-size: 2rem;
    color: #333;
  }
  .carousel .carousel-item .content-who-i-am p {
    color: #696969;
    margin-bottom: 0.5rem;
  }
  .carousel .carousel-item .content-who-i-am .experience-title {
    margin-top: -20px;
  }
  .carousel .carousel-item .content-who-i-am .contact-title {
    margin-top: -20px;
  }
  .carousel .carousel-item .content-who-i-am .portfolio-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .content-who-i-am .carousel .carousel-item .content-who-i-am p {
    font-size: 12px;
  }
  .carousel .carousel-item .content-who-i-am .who-i-am-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .content-who-i-am #who-i-am .carousel ul.indicatores.indicator-item {
    top: 620px;
  }
  .carousel .carousel-item .content-who-i-am video {
    margin-top: 0.2rem;
    width: 300px;
  }
}

section.portfolio-background {
  background: url("../images/Himalaya.jpg") fixed no-repeat center center/cover;
  width: 100%;
  height: 50vh;
}

section#portfolio-section {
  width: 100%;
  height: 100vh;
}

.portfolio {
  width: 100%;
  height: 100vh;
}

.carousel {
  width: 100%;
  height: 100vh;
}

.portfolio .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel .carousel-item .portfolio-content {
  margin: 0 150px 180px 150px;
}

@media screen and (max-width: 365px) and (min-width: 350px) {
  .carousel .carousel-item .portfolio-content {
    margin: 0 1rem 0 1rem;
    font-size: 16px;
  }
  .carousel .carousel-item .portfolio-content h1 {
    font-size: 2rem;
    color: #333;
  }
  .carousel .carousel-item .portfolio-content p {
    color: #696969;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .portfolio-content ul.indicatores {
    top: 590px;
  }
  .carousel .carousel-item .portfolio-content video {
    margin-top: 1rem;
    width: 320px;
  }
}

@media screen and (max-width: 420px) and (min-width: 380px) {
  .carousel .carousel-item .portfolio-content {
    margin: 0 2rem 0 2rem;
  }
  .carousel .carousel-item .portfolio-content h1 {
    font-size: 3rem;
    color: #333;
  }
  .carousel .carousel-item .portfolio-content p {
    color: #696969;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }
  .carousel .carousel-item .portfolio-content video {
    margin-top: 3rem;
    width: 350px;
  }
}

@media screen and (max-width: 400px) and (min-width: 372px) {
  .carousel .carousel-item .portfolio-content {
    margin: 0 1.8rem 0 1.8rem;
  }
  .carousel .carousel-item .portfolio-content h1 {
    font-size: 2.5rem;
    color: #333;
  }
  .carousel .carousel-item .portfolio-content p {
    color: #696969;
    font-size: 15px;
    margin-bottom: 1.2rem;
  }
  .carousel .carousel-item .portfolio-content .experience-title {
    margin-top: -40px;
  }
  .carousel .carousel-item .portfolio-content .contact-title {
    margin-top: -40px;
  }
  .carousel .carousel-item .portfolio-content video {
    margin-top: 3rem;
    width: 300px;
  }
}

@media screen and (max-width: 470px) and (min-width: 450px) {
  .carousel .carousel-item .portfolio-content {
    margin: 0 2rem 0 2rem;
  }
  .carousel .carousel-item .portfolio-content h1 {
    font-size: 3rem;
    color: #333;
  }
  .carousel .carousel-item .portfolio-content p {
    color: #696969;
    font-size: 16px;
    margin-bottom: 1.5rem;
  }
  .carousel .carousel-item .portfolio-content video {
    margin-top: 3rem;
    width: 350px;
  }
}

@media screen and (width: 480px) {
  .carousel .carousel-item .portfolio-content {
    margin: 0 1rem 0 1rem;
  }
  .carousel .carousel-item .portfolio-content h1 {
    font-size: 3rem;
    color: #333;
  }
  .carousel .carousel-item .portfolio-content p {
    color: #696969;
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
  .carousel .carousel-item .portfolio-content video {
    margin-top: 2rem;
    width: 400px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 900px) {
  .carousel .carousel-item .portfolio-content {
    margin: 0 3rem 0 3rem;
  }
  .carousel .carousel-item .portfolio-content h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .carousel .carousel-item .portfolio-content p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .carousel .carousel-item .portfolio-content .experience-title {
    margin-top: -500px;
  }
  .carousel .carousel-item .portfolio-content .contact-title {
    margin-top: -500px;
  }
  .carousel .carousel-item .portfolio-content video {
    margin-top: 5rem;
    width: 800px;
  }
}

@media only screen and (max-width: 810px) and (min-width: 750px) {
  .carousel .carousel-item .portfolio-content {
    margin: 0 3rem 0 3rem;
  }
  .carousel .carousel-item .portfolio-content h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .carousel .carousel-item .portfolio-content p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .carousel .carousel-item .portfolio-content .experience-title {
    margin-top: -180px;
  }
  .carousel .carousel-item .portfolio-content .contact-title {
    margin-top: -180px;
  }
  .carousel .carousel-item .portfolio-content video {
    margin-top: 5rem;
    width: 700px;
  }
}

@media only screen and (max-width: 1024) and (min-width: 900px) and (orientation: landscape) {
  .carousel .carousel-item .portfolio-content {
    margin: 0 3rem 0 3rem;
  }
  .carousel .carousel-item .portfolio-content h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .carousel .carousel-item .portfolio-content p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .carousel .carousel-item .portfolio-content .experience-title {
    margin-top: -50px;
  }
  .carousel .carousel-item .portfolio-content .contact-title {
    margin-top: -50px;
  }
  .carousel .carousel-item .portfolio-content .portfolio-title {
    margin-bottom: 3rem;
  }
  .carousel .carousel-item .portfolio-content video {
    margin-top: 0.5rem;
    width: 620px;
  }
}

@media only screen and (min-width: 1360px) and (min-width: 900px) {
  .carousel .carousel-item .portfolio-content {
    margin: 0 15rem 0 15rem;
  }
  .carousel .carousel-item .portfolio-content h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
    color: #333;
  }
  .carousel .carousel-item .portfolio-content p {
    color: #696969;
    font-size: 22px;
    margin-bottom: 3rem;
  }
  .carousel .carousel-item .portfolio-content .experience-title {
    margin-top: -100px;
  }
  .carousel .carousel-item .portfolio-content .contact-title {
    margin-top: -100px;
  }
  .carousel .carousel-item .portfolio-content .portfolio-title {
    margin-bottom: 3rem;
  }
  .carousel .carousel-item .portfolio-content video {
    margin-top: 0.5rem;
    width: 900px;
  }
}

@media screen and (width: 667px) and (orientation: landscape) {
  .carousel .carousel-item .portfolio-content {
    margin: 0 1rem 0 1rem;
    font-size: 14px;
  }
  .carousel .carousel-item .portfolio-content h1 {
    font-size: 2rem;
    color: #333;
  }
  .carousel .carousel-item .portfolio-content p {
    color: #696969;
    margin-bottom: 0.5rem;
  }
  .carousel .carousel-item .portfolio-content .experience-title {
    margin-top: -20px;
  }
  .carousel .carousel-item .portfolio-content .contact-title {
    margin-top: -20px;
  }
  .carousel .carousel-item .portfolio-content .portfolio-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .portfolio-content .carousel .carousel-item .content-who-i-am p {
    font-size: 12px;
  }
  .carousel .carousel-item .portfolio-content .who-i-am-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .portfolio-content #who-i-am .carousel ul.indicatores.indicator-item {
    top: 590px;
  }
  .carousel .carousel-item .portfolio-content video {
    margin-top: 0.2rem;
    width: 280px;
  }
}

@media screen and (width: 734px) and (orientation: landscape) {
  .carousel .carousel-item .portfolio-content {
    margin: 0 1.5rem 0 1.5rem;
    font-size: 14px;
  }
  .carousel .carousel-item .portfolio-content h1 {
    font-size: 2rem;
    color: #333;
  }
  .carousel .carousel-item .portfolio-content p {
    color: #696969;
    margin-bottom: 0.5rem;
  }
  .carousel .carousel-item .portfolio-content .experience-title {
    margin-top: -20px;
  }
  .carousel .carousel-item .portfolio-content .contact-title {
    margin-top: -20px;
  }
  .carousel .carousel-item .portfolio-content .portfolio-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .portfolio-content .carousel .carousel-item .content-who-i-am p {
    font-size: 12px;
  }
  .carousel .carousel-item .portfolio-content .who-i-am-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .portfolio-content #who-i-am .carousel ul.indicatores.indicator-item {
    top: -600px;
  }
  .carousel .carousel-item .portfolio-content video {
    margin-top: 0.2rem;
    width: 300px;
  }
}

@media screen and (width: 736px) and (orientation: landscape) {
  .carousel .carousel-item .portfolio-content {
    margin: 0 1.5rem 0 1.5rem;
    font-size: 14px;
  }
  .carousel .carousel-item .portfolio-content h1 {
    font-size: 2rem;
    color: #333;
  }
  .carousel .carousel-item .portfolio-content p {
    color: #696969;
    margin-bottom: 0.5rem;
  }
  .carousel .carousel-item .portfolio-content .experience-title {
    margin-top: -20px;
  }
  .carousel .carousel-item .portfolio-content .contact-title {
    margin-top: -20px;
  }
  .carousel .carousel-item .portfolio-content .portfolio-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .portfolio-content .carousel .carousel-item .content-who-i-am p {
    font-size: 12px;
  }
  .carousel .carousel-item .portfolio-content .who-i-am-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .carousel .carousel-item .portfolio-content #who-i-am .carousel ul.indicatores.indicator-item {
    top: 620px;
  }
  .carousel .carousel-item .portfolio-content video {
    margin-top: 0.2rem;
    width: 300px;
  }
}

.portfolio-background {
  background: #fffafa;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background: #333;
  line-height: 1.6;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

section {
  scroll-snap-align: center;
}

.carousel .indicators .indicator-item {
  background: lightgray;
}

.carousel .indicators .indicator-item.active {
  background: #333;
}

@media screen and (min-width: 1025px) {
  body {
    font-size: 24px;
  }
  ul li a {
    font-size: 18px;
  }
}

@media screen and (min-width: 1370px) {
  body {
    font-size: 24px;
  }
  ul li a {
    font-size: 21px;
  }
}
/*# sourceMappingURL=style.css.map */